* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: rgb(210,210,210);
}
.header-banner {
  padding-top: 4.2%;
  background-color: rgb(17,73,124);
}
.header-banner img {
  width: 15%;
  padding-bottom: 0.5%;
  margin-left: 11.2%;
}
#regForm {
  background-color: #ffffff;
  margin: 100px auto;
  font-family: Raleway;
  padding: 40px;
  width: 50%;
  min-width: 300px;
}
.centered-text {
  text-align: center;
  padding-bottom: 2%;
}
h1 {
  text-align: center;
}
.ToS {
  margin-top: 4%;
  margin-bottom: 2%;
  font-size: 0.8rem;
}
.ToS a {
  color: rgb(17,73,124);
  text-decoration: none;
}
.ToS a:hover {
  text-decoration: underline;
}
input {
  display: flex;
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
  background-color: rgb(242,242,242);
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

button {
  background-color: #4CAF50;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    font-family: Raleway;
    cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

#prevBtn {
  background-color: #bbbbbb;
  color: black;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #0068b4;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.info {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: rgb(150,150,150);
}

.inline {
  margin: 0 auto;
  padding: 0 auto;
  display: inline-block;
  width: 49.6%;
  margin-right: auto;
}
.header-text {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: capitalize;
  margin: 0;
  margin-top: 1%;
  margin-bottom: 1%;
}
.header-text-small {
  font-size: 0.8rem;
  margin: 0;
  margin-top: 1%;
  margin-bottom: 1%;
}
.trin {
  margin: 0;
  margin-top: 1%;
  margin-bottom: 1%;
}
/* ------- dropdown ---------- */
select {
  font-size: 17px;
  width: 100%;
  padding: 14px;
  background-color: rgb(242,242,242);
  color: rgb(117,117,117);
  margin-top: 6px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
select-selected {
  color: red;
}

/* -------------- frontpage image ---------------------- */

.info p{
    display: inline-block;
    vertical-align: middle;
}

.top-img {
     display: block;
     margin-left: auto;
     margin-right: auto;
     padding-bottom: 3%;
     width: 10%;

}
.info img{
    width: 6%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
/* ------------------ password -------------------------- */

/* Style all input fields */
input {
  width: 100%;
  padding: 12px;
  color: rgb(117,117,117);
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}

/* Style the submit button */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
}

/* The message box is shown when the user clicks on the password field */
#message {
  display:none;
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}

#message p {
  padding: 10px 35px;
  font-size: 18px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "✔";
}

/* Add a red text color and an "x" icon when the requirements are wrong */
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "✖";
}

/* Hide all steps by default: */
.tab {
  display: none;
}




/* -------------------- checkbox ------------------------ */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  margin-top: 4%;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container p {
  font-size: 1rem;
}
.container p strong {
  color: rgb(17,73,124);
}
.container a{
  color: rgb(17,73,124);
  text-decoration: none;
}
.container a:hover {
  text-decoration: underline;
}
/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
